.configContainer .panel{
    margin : 10px;
}
.configContainer{
    text-align: center;
}

.appPanel .panel-body{
    overflow: auto;
}

.form-group{
    margin:20px 0;
}
.form-group div{
    margin:5px 0;
}
.configForm label, .hostConfigForm label{
    width:160px;
}
.textLabel{
    text-align: center;
    color: #159410;
}

.buttonPanel{
    text-align: center;
}

.error{
    color:red;
}

.login{
    margin:10px 0 10px 20px;
}
#forgot-password-link{
    display:none;
}
@media all and (max-width: 1400px){
    .appPanel .panel-body{
        height:400px;
    }
}

@media not all and (max-width: 1400px) {
    .appPanel .panel-body{
        height:600px;
    }
}
