.configButtons{
    margin:20px 0;
}

.configContainer{
    text-align: center;
}

.appPanel .panel-body{
    height:400px;
    overflow: auto;
}

.form-group{
    margin:20px 0;
}
.form-group div{
    margin:5px 0;
}
.configForm label, .hostConfigForm label{
    width:160px;
}
.textLabel{
    text-align: center;
    color:red;
}

.buttonPanel{
    text-align: center;
}