<template name="config">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="btn-group">
                        <button type="button" class="configDD btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ddText">{{selectedHost}}</span>&nbsp;&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="hostIP" data-id="" href="#">All</a></li>
                            <li role="separator" class="divider"></li>
                            {{#each configs}}
                                {{>hosts}}
                            {{/each}}
                        </ul>
                    </div>
                        <div class="btn-group">
                            <button type="button" class="configDD btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="ddText">{{selectedConfigType}}</span>&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="configType" data-id="" href="#">All</a></li>
                                <li role="separator" class="divider"></li>
                                {{#each configTypes}}
                                    {{>configType}}
                                {{/each}}
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#each filterConfigs}}
                        {{>configButton}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="hosts">
    <li><a class="hostIP" data-id="{{_id}}" href="#">{{_id}}</a></li>
</template>
<template name="configType">
    <li><a class="configType" data-id="{{_id}}" href="#">{{_id}}</a></li>
</template>
    <template name="configButton">
    <Button data-html="true" title="Server&nbsp;:&nbsp;{{config.ServerName}}<br/>Database&nbsp;:&nbsp;{{config.DatabaseName}}<br/>Client&nbsp;:&nbsp;{{config.ClientVersion}}" class="configButtons btn btn-default" value="{{ConfigName}}" type="button" >{{ConfigName}}</Button>
</template>
